@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --green: #00925d;
  --red: #eb3f5e;
  --white: #ffffff;
  --grey: #9ca4ab;
  --black-600: #39373d;
  --black-700: #28262d;
  --black-800: #0d0c0f;
  --black-900: #08080a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--black-800);
}
